<p id="notice"><%= notice %></p>

<h1>Listing Patentes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patentes.each do |patente| %>
      <tr>
        <td><%= link_to 'Show', patente %></td>
        <td><%= link_to 'Edit', edit_patente_path(patente) %></td>
        <td><%= link_to 'Destroy', patente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patente', new_patente_path %>
