<p id="notice"><%= notice %></p>

<p>
  <strong>Apellidos:</strong>
  <%= @persona.apellidos %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @persona.nombres %>
</p>

<p>
  <strong>Pais de origen:</strong>
  <%= @persona.pais_de_origen %>
</p>

<p>
  <strong>Documeto de dentificaion:</strong>
  <%= @persona.documeto_de_dentificaion %>
</p>

<p>
  <strong>Numero de documento:</strong>
  <%= @persona.numero_de_documento %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @persona.fecha_de_nacimiento %>
</p>

<p>
  <strong>Fecha de defuncion:</strong>
  <%= @persona.fecha_de_defuncion %>
</p>

<p>
  <strong>Pais de residencia:</strong>
  <%= @persona.pais_de_residencia %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @persona.lugar %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @persona.direccion %>
</p>

<p>
  <strong>Telefonos:</strong>
  <%= @persona.telefonos %>
</p>

<p>
  <strong>Faxes:</strong>
  <%= @persona.faxes %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @persona.codigo_postal %>
</p>

<p>
  <strong>Persona natural:</strong>
  <%= @persona.persona_natural %>
</p>

<p>
  <strong>Residente en ecuador:</strong>
  <%= @persona.residente_en_ecuador %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @persona.codigo %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
